body{
  display: table;
  background-image: url("Images/Verde1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
  
*{
  margin: 30;
  padding: 30;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.wrapper{ 
  position: absolute;
  width: 250px;
  border-radius: 2px;
  overflow: hidden;
}

.page-header{
  color:white;
}

.form-group{
  color:white;
}
  
p{
  color:white;
}
 